{% extends './../base.html' %}
{% load humanize %}
{% block content %}
<div class="container">
            <!--Section: Content-->
            <section class="text-center">
                <div class="row">
                {% for item in posts %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img src="{{ item.thumbnail.url}}" class="img-fluid" />
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ item.title }}</h5>
                                <p class="card-text">
                                    {{ item.lead}}
                                </p>
                                {% comment %} <a href="{{ item.publish_time|date:'Y/m/d'}}/{{item.slug}}" class="btn btn-primary">ادامه</a> {% endcomment %}
                                 <a href="{{ item.get_absolute_url }}" class="btn btn-primary">ادامه</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </section>
            <!--Section: Content-->

            <!-- Pagination -->
            <nav class="my-4" aria-label="...">
                <ul class="pagination pagination-circle justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
{% endblock %}